@model ViewModels.HomeViewModel





    <main role="main">
        
 
        <div class="nav-scroller">
            <nav class="nav d-flex justify-content-md-between">
                <p>
                </p>
                <a class="btn" asp-controller="Home"
                   asp-action="Index">

                    <btn class="opacity-dark btn-dark font-color-main">
                        <p>All Titles</p>
                    </btn>
                </a>
                @foreach (var category in Model.Categories)
                {

                    <a class="btn" asp-controller="Titles"
                       asp-action="FilteredList" asp-route-categoryNumber="@category.CategoryId">

                        <btn class="opacity-dark btn-dark">
                            <p class="font-color-main">@category.CategoryName</p>
                        </btn>
                    </a>


                }
                <p>
                </p>
            </nav>
        </div>

        @*<section class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <h1>Album example</h1>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Main call to action</a>
                        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                    </p>
                </div>
            </div>
        </section>*@


  


        <div class="row">
            <div class="album col-md-1">


                <div>
                    <nav class="nav d-flex justify-content-md-around opacity-dark">
                        <a class="btn" asp-controller="Home"
                           asp-action="Index">

                            <btn class="opacity-dark btn-dark  p-2">
                                <i class="fa fa-th-large fa-3x" aria-hidden="true"></i>
                            </btn>
                        </a>
                        <a class="btn" asp-controller="Home"
                           asp-action="IndexList">

                            <btn class="opacity-dark btn-dark p-2">
                                <i class="fa fa-th-list fa-3x" aria-hidden="true"></i>
                            </btn>
                        </a>
                    </nav>
                </div>
            </div>




            <div class="album col-md-11">

                <div class="row">
                    <table class="table table-bordered font-color-main">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col"></th>
                                <th scope="col">Category</th>
                                <th scope="col">Publisher</th>
                                <th scope="col">Release Date</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        @foreach (var title in Model.Titles)
                        {
                            <partial name="_TitleList" model="title" />
                        }

                    </table>
                </div>
            </div>
        </div>



        }





</main>























